<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <div class="navbar-logo">
          <a href="/">Ivy Tech Portal</a>
        </div>
        <div class="navbar-links">
          <a href="/" class="nav-link">Home</a>
          <a href="/available-courses" class="nav-link">Available Courses</a>
          <a href="/view-courses" class="nav-link">View Courses</a>
          <a href="/add-course" class="nav-link">Add Course</a>
          <% if (!user) { %>
            <a href="/sign-up" class="nav-link">Sign Up</a>
          <% } %>
          <% if (user) { %>
            <a href="/logout" class="nav-link">Logout</a>
          <% } %>
        </div>
      </nav>
      
</body>
</html>
